
.game-view {
   /* border: 3px solid blue; */
   height: 100vh;
   width: 100vw;
   position: absolute;
   z-index: 2;
   top: 0;
   left: 100vw;
   overflow: auto;

   -webkit-animation: slide 0.5s forwards;
   animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
   100% { left: 0; }
}

@keyframes slide {
   100% { left: 0; }
}


/* html, body {
   height: 100vh;
   width: 100vw;
   top: 0;
   left: 100
} */