
body {
  background-image: url("/Wittenberg_crop.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #cccccc; 
  height: 100vh;
  overflow: hidden;
}

#title {
  font-family: 'Fredericka the Great', cursive;
}

#title-button-top, #title-button-bottom {
    background-color: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    opacity: 0.9;
}